<div class="topbar">
  <div class="fill">
    <div class="container">
      <a class="brand" href="/">RaspBerry Alpha</a>
      <ul class="nav">
        <li class="active"><a href="home">Home</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
      <form action="" class="pull-right">
        <input class="input-small" type="email" placeholder="Email">
        <input class="input-small" type="password" placeholder="Password">
        <button class="btn" type="submit">Sign in</button>
      </form>
    </div>
  </div>
</div>
