<div class="hero-unit">
  <div class="alert-message block-message info" style="text-align:center">
    <p style="font-size: xx-large"><strong>Forget servers, Focus 100% on your code!</strong></p>
  </div>
  <div>
    <center>
        <a class="btn primary" href="signup">
            <center>
                <div style="font-size: xx-large">Sign Up Free</div>
                Basic functionality is available here for free trial
           </center>
       </a>
    </center>
  </div>
</div>
<div class="row">
  <div class="span4">
    <h2>What is Raspberry?</h2>
    <p>Raspberry is a auto-scaling platform-as-a-service for Java applications.<br>
We let you free from the need for application servers or infrastructure.</p>
  </div>
  <div class="span4">
    <h2>Agile deployment for Java.</h2>
    <p>Get up and running in minutes, and deploy instantly with git or<br>
uploading package. What all you need is pushing your code and we will<br>
deploy it. Focus 100% on your code, and never think about servers,<br>
instances, or VMs again.</p>
  </div>
  <div class="span4">
    <h2>Run and scale any type of app.</h2>
    <p>Run any web application with any web framework. Get direct, granular<br>
control over your app's workloads. Scale distributed processes<br>
automatically. Easily scale to millions of users.</p>
  </div>
  <div class="span4">
    <h2>How do you get started?</h2>
    <p>You can start building apps on us today. Free to Start, and it costs<br>
only when you upgrade to a higher plan.</p>
  </div>
</div>

