<div class="hero-unit">
  <div class="alert-message block-message info">
    <p style="font-size: xx-large;width:400px;"><strong>Application history</strong></p>
  </div>
  <table id="history" class="zebra-striped">
    <thead>
      <tr>
        <th class="blue header">Application Version</th>
        <th class="blue header">Date</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td style="border:none">
          1.0
        </td>
        <td style="border:none">
          2011/12/27
        </td>
      </tr>
    </tbody>
  </table>
</div>
