<div class="hero-unit">
<script src="./jquery-1.7.1.min.js"></script>
<script src="./jquery.tablesorter.min.js"></script>
      <div class="alert-message block-message info">
        <table>
          <tr>
            <td style="border:none">
              <p style="font-size: xx-large;width:400px;"><strong>MyApps</strong></p>
            </td>
            <td style="border:none">
              <a class="btn primary" href="signup">create</a>
            </td>
          </tr>
        </table>
      </div>
    <table id="myapps" class="zebra-striped">
      <thead>
        <tr>
          <th class="blue header">Application Name</th>
          <th class="blue header">Application Detail</th>
        </tr>
      </thead>
      <tbody>
        <% @app_list.each do |app| %>
        <tr>
          <td><%= app['name'] %></td>
          <td>
            <%= form_tag({:action => 'detail'}, {:method => "post"}) do %>
              <input type="hidden" name="appid" value="<%= app['id'] %>">
              <button class="btn info">Detail</button>
            <% end %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
<script>
$(function() {
$("table#myapps").tablesorter();
});
</script>

</div>