<div class="hero-unit">
<script src="./jquery-1.7.1.min.js"></script>
<script src="./jquery.tablesorter.min.js"></script>
    <table id="myapps" class="zebra-striped">
      <thead>
        <tr>
          <th class="blue header">Application Name</th>
          <th class="blue header">Repository Info</th>
        </tr>
      </thead>

      </tbody>
    </table>
<script>
$(function() {
$("table#myapps").tablesorter();
});
</script>

</div>

