<div class="hero-unit">
  <div class="alert-message block-message info">
    <p style="font-size: xx-large;width:400px;"><strong>Application upload</strong></p>
  </div>
  <%= form_tag({:action => 'upload'}, {:method => "post"}) do %>
    <div class="clearfix">
      <label for="fileInput">Application Name</label>
      <div class="input">
        <input id="fileInput" class="input-file" type="file" name="fileInput">
      </div>
    </div>
    <div class="actions">
      <input type="submit" class="btn primary" value="Upload">&nbsp;
      <br>
    </div>
  <% end %>
</div>
